<<<<<<< HEAD
body {
    margin: 0
}
.top {
    width: 100%;
    height: 800px;
    margin-top: 0;
    padding-top: 0;
    background-color: black;
    background: url(Images/Birmingham.jpg) no-repeat center;
    background-size: cover;
}
.skills {
    width: 100%;
    text-align: center;
=======
.top-bar {
    background-color: lightgray;
>>>>>>> 652f0c1c03f1df2abdfcf6ecaf8343945d6c156d
}