/* html {
    background: url(Images/Birmingham.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: underline;
    color: grey;    
}
.top {
    width: 100%;
    height: 700px;
    margin-top: 0;
    padding-top: 0;
    background: url(Images/Birmingham.jpg) no-repeat center;
    background-color: rgba(0, 0, 0, 0.671);
    background-blend-mode: multiply;
    background-size: cover;
    color: lightgray;
    overflow: hidden;
    display: table;
}
.top-text {
    position: relative;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 100%;
	height: 200px;
    color: white;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
  
.skills {
    margin: auto;
    max-width: 800px;
    height: 350px;
    text-align: center;
}
.row {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin: 0px;
    padding: 0px;
}
.column {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: gray;
    height: 250px;
}
.column p {
    padding: 10px;
    margin: 0px;
}
.column:hover {
    border: 5px solid rgb(86, 159, 255);
    border-radius: 10px;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(43, 43, 43);
    color: grey;
    text-align: center;
}